{{#section 'css'}}
<link rel="stylesheet" href="{{asset '/styles/index.css' 0}}">
{{/section}}

{{#section 'meta'}}
<meta name="description" content="CS Blogs is the home of student and professional computer science bloggers."/>
{{/section}}

<div id="space-saver"></div>
{{#each posts}}
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h2 itemprop="headline"><a href="{{link}}">{{title}}</a></h2>
    </header>
    {{#if image_uri}}
    <div class="featured-image">
      <a href="{{link}}">
        <img itemprop="image" src="{{image_uri}}" alt="Featured Image"/>
      </a>
    </div>
    {{/if}}
    <p class="article-body" itemprop="articleBody">{{{truncate description 400}}} <a itemprop="url" class="read-more" href="{{link}}">Read more &#8594;</a></p>
    <footer>
      <div class="article-info">
        <div class="article-author" itemscope itemprop="author" itemtype="https://schema.org/Person">
          <a class="avatar" href="/bloggers/{{author.vanityName}}">
            <img class="avatar" itemprop="image" src="{{author.profilePictureURI}}" alt="Avatar"/>
          </a>
          <a class="article-author-name" itemprop="sameAs" href="/bloggers/{{author.vanityName}}">
            <span itemprop="givenName">{{author.firstName}}</span>
            <span itemprop="familyName">{{author.lastName}}</span>
          </a>
        </div>
        <p class="article-date" itemprop="datePublished">{{formatDateShort date_published}}</p>
      </div>
    </footer>
    {{#unless @last}}<hr/>{{/unless}}
  </article>
{{/each}}
<div class="nav-pages clearfix">
  {{#if hasLess}}
  <a id="newer" class="page-btn" href="/?page={{add pageNumber -1}}">
    <svg viewbox="0 0 37.62 67.32">
      <use xlink:href="{{svg 'left-arrow'}}"></use>
    </svg>
    <p>Newer</p>
  </a>
  {{/if}}
  {{#if hasMore}}
  <a id="older" class="page-btn" href="/?page={{add pageNumber 1}}">
    <p>Older</p>
    <svg viewbox="0 0 37.62 67.32">
      <use xlink:href="{{svg 'right-arrow'}}"></use>
    </svg>
  </a>
  {{/if}}
</div>
