{{#section 'css'}}
<link rel="stylesheet" href="{{asset '/styles/index.css' 0}}">
{{/section}}

{{#section 'meta'}}
<meta name="description" content="CS Blogs is the home of student and professional computer science bloggers."/>
{{#if posts}}
<script type="application/ld+json">
[
    {{#each posts}}
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "{{title}}",
      "author": {
        "@context": "http://schema.org",
        "@type": "Person",
        "sameAs": "/bloggers/{{author.vanityName}}",
        "image": {
         "@context": "http://schema.org",
         "@type": "ImageObject",
         "url": "{{author.profilePictureURI}}"
        },
        "name": "{{author.firstName}} {{blogger.lastName}}",
        "givenName": "{{author.firstName}}",
        "familyName": "{{author.lastName}}"
      },
      "publisher": {
        "@context": "http://schema.org",
        "@type": "Person",
        "sameAs": "/bloggers/{{author.vanityName}}",
        "image": {
         "@context": "http://schema.org",
         "@type": "ImageObject",
         "url": "{{author.profilePictureURI}}"
        },
        "name": "{{author.firstName}} {{blogger.lastName}}",
        "givenName": "{{author.firstName}}",
        "familyName": "{{author.lastName}}"
      },
      "datePublished": "{{datePublished}}",
      "dateModified": "{{datePublished}}",
      "image": {
        "@context": "http://schema.org",
        "@type": "ImageObject",
        "url": "{{imageURI}}"
      },
      "articleBody": "{{truncate description 400}}",
      "url": "{{link}}",
      "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "{{link}}"
      }
    }{{#unless @last}},{{/unless}}
    {{/each}}
]
</script>
{{/if}}
{{/section}}

<div id="space-saver"></div>
{{#each posts}}
  <article>
    <header>
      <h2><a href="{{link}}">{{title}}</a></h2>
    </header>
    {{#if imageURI}}
    <div class="featured-image">
      <a href="{{link}}">
        <img src="{{imageURI}}" alt="Featured Image"/>
      </a>
    </div>
    {{/if}}
    <p class="article-body">{{{truncate description 400}}} <a class="read-more" href="{{link}}">Read more &#8594;</a></p>
    <footer>
      <div class="article-info">
        <div class="article-author">
          <a class="avatar" href="/bloggers/{{author.vanityName}}">
            <img class="avatar" src="{{author.profilePictureURI}}" alt="Avatar"/>
          </a>
          <a class="article-author-name" href="/bloggers/{{author.vanityName}}">
            <span>{{author.firstName}}</span>
            <span>{{author.lastName}}</span>
          </a>
        </div>
        <p class="article-date">{{formatDateShort datePublished}}</p>
      </div>
    </footer>
    {{#unless @last}}<hr/>{{/unless}}
  </article>
{{/each}}
<div class="nav-pages clearfix">
  {{#if hasLess}}
  <a id="newer" class="page-btn" href="/?page={{add pageNumber -1}}">
    <svg viewbox="0 0 37.62 67.32">
      <use xlink:href="{{svg 'left-arrow'}}"></use>
    </svg>
    <p>Newer</p>
  </a>
  {{/if}}
  {{#if hasMore}}
  <a id="older" class="page-btn" href="/?page={{add pageNumber 1}}">
    <p>Older</p>
    <svg viewbox="0 0 37.62 67.32">
      <use xlink:href="{{svg 'right-arrow'}}"></use>
    </svg>
  </a>
  {{/if}}
</div>
