{{#section 'css'}}
<link rel="stylesheet" href="{{asset '/styles/profile.css' 0}}">
{{/section}}

{{#section 'meta'}}
<meta name="author" content="{{blogger.first_name}} {{blogger.last_name}}"/>
<meta name="description" content="The Computer Science Blogs profile of {{blogger.first_name}} {{blogger.last_name}}"/>
<meta property="og:title" content="The Computer Science Blogs profile of {{blogger.first_name}} {{blogger.last_name}}" /> 
<meta property="og:site_name" content="Computer Science Blogs"/>
<meta property="og:type"  content="profile"/> 
<meta property="og:locale" content="en_GB"/>
<meta property="og:image" content="{{blogger.profile_picture_uri}}" /> 
<meta property="profile:first_name" content="{{blogger.first_name}}"/>
<meta property="profile:last_name" content="{{blogger.last_name}}"/>
<meta property="profile:username" content="{{blogger.vanity_name}}"/>
{{/section}}

<div itemscope itemtype="https://schema.org/Person">
  <div class="profile-header">
    <div class="profile-header-content">
      <img class="avatar" src="{{blogger.profile_picture_uri}}" alt="Avatar" itemprop="image"/>
      <div class="profile-info">
        <h2 id="profile-name">
          <span itemprop="givenName">{{blogger.first_name}}</span>
          <span itemprop="familyName">{{blogger.last_name}}</span>
        </h2>
        {{> display-site blogger}}
      </div>
      {{#if loggedIn}}
      <a id="edit-profile-btn" class="button" href="/account">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24" version="1.1">
          <use xlink:href="{{svg 'icon-edit'}}"></use>
        </svg>
        <p>Edit Profile</p>
      </a>
      {{/if}}
    </div>
  </div>
  <div class="profile-body">
    {{#unless blogger.verified}}
    <div class="alert-box alert-info">
      <p>Your profile will be verified by a moderator before it can be seen by the public. Check back soon!</p>
    </div>
    {{/unless}}
    <h3 class="subheader">About</h3>
    <p itemprop="description">{{blogger.bio}}</p>
    <div>
      {{#if blogger.github_username}}
      {{> pill baseurl='https://github.com/' id=blogger.github_username icon='github' label='GitHub'}}
      {{/if}}
      {{#if blogger.twitter_username}}
      {{> pill baseurl='https://twitter.com/' id=blogger.twitter_username icon='twitter' label='Twitter'}}
      {{/if}}
      {{#if blogger.linkedin_uri}}
      {{> pill baseurl=blogger.linkedin_uri id='' icon='linkedin' label='LinkedIn'}}
      {{/if}}
      {{#if blogger.cv_uri}}
      {{> pill baseurl=blogger.cv_uri id='' icon='cv' label='CV'}}
      {{/if}}
    </div>

    <h3 class="subheader">Blog posts</h3>
    {{#if posts}}
    {{#each posts}}
    <article itemscope itemtype="http://schema.org/BlogPosting">
      <h4 itemprop="headline"><a href="{{link}}">{{title}}</a></h4>
      <p class="article-date" itemprop="datePublished">{{formatDateLong date_published}}</p>
      {{#if image_uri}}
      <div class="featured-image">
        <a href="{{link}}">
          <img itemprop="image" src="{{image_uri}}" alt="Featured Image"/>
        </a>
      </div>
      {{/if}}
      <p class="article-body" itemprop="articleBody">{{{truncate description 400}}} <a class="read-more" itemprop="url" href="{{link}}">Read more &#8594;</a></p>
      {{#unless @last}}<hr/>{{/unless}}
    </article>
    {{/each}}
    {{else}}
    <p>Blog posts will appear here on the next sync if there are any to view.</p>
    {{/if}}

    <div class="nav-pages clearfix">
      {{#if hasLess}}
      <a id="newer" class="page-btn" href="?page={{add pageNumber -1}}">
        <svg viewbox="0 0 37.62 67.32">
          <use xlink:href="{{svg 'left-arrow'}}"></use>
        </svg>
        <p>Newer</p>
      </a>
      {{/if}}
      {{#if hasMore}}
      <a id="older" class="page-btn" href="?page={{add pageNumber 1}}">
        <p>Older</p>
        <svg viewbox="0 0 37.62 67.32">
          <use xlink:href="{{svg 'right-arrow'}}"></use>
        </svg>
      </a>
      {{/if}}
    </div>
  </div>
</div>
