{{#section 'css'}}
<link rel="stylesheet" href="{{asset '/styles/profile.css' 0}}">
{{/section}}

{{#section 'meta'}}
<meta name="author" content="{{blogger.firstName}} {{blogger.lastName}}"/>
<meta name="description" content="The Computer Science Blogs profile of {{blogger.firstName}} {{blogger.lastName}}"/>
<meta property="og:title" content="The Computer Science Blogs profile of {{blogger.firstName}} {{blogger.lastName}}" /> 
<meta property="og:site_name" content="Computer Science Blogs"/>
<meta property="og:type"  content="profile"/> 
<meta property="og:locale" content="en_GB"/>
<meta property="og:image" content="{{blogger.profilePictureURI}}" /> 
<meta property="profile:first_name" content="{{blogger.firstName}}"/>
<meta property="profile:last_name" content="{{blogger.lastName}}"/>
<meta property="profile:username" content="{{blogger.vanityName}}"/>
{{/section}}

<div itemscope itemtype="https://schema.org/Person">
  <div class="profile-header">
    <div class="profile-header-content">
      <img class="avatar" src="{{blogger.profilePictureURI}}" alt="Avatar" itemprop="image"/>
      <div class="profile-info">
        <h2 id="profile-name">
          <span itemprop="givenName">{{blogger.firstName}}</span>
          <span itemprop="familyName">{{blogger.lastName}}</span>
        </h2>
        {{> display-site blogger}}
      </div>
      {{#if loggedIn}}
      <a id="edit-profile-btn" class="button" href="/account">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 24 24" version="1.1">
          <use xlink:href="{{svg 'icon-edit'}}"></use>
        </svg>
        <p>Edit Profile</p>
      </a>
      {{/if}}
    </div>
  </div>
  <div class="profile-body">
    {{#unlessVerified blogger.verified}}
    <div class="alert-box alert-info">
      <p>Your profile will be verified by a moderator before it can be seen by the public. Check back soon!</p>
    </div>
    {{/unlessVerified}}
    <h3 class="subheader">About</h3>
    <p class="description" itemprop="description">{{blogger.bio}}</p>
    <div>
      {{#if blogger.githubUsername}}
      {{> pill baseurl='https://github.com/' id=blogger.githubUsername icon='github' label='GitHub'}}
      {{/if}}
      {{#if blogger.twitterUsername}}
      {{> pill baseurl='https://twitter.com/' id=blogger.twitterUsername icon='twitter' label='Twitter'}}
      {{/if}}
      {{#if blogger.linkedInURI}}
      {{> pill baseurl=blogger.linkedInURI id='' icon='linkedin' label='LinkedIn'}}
      {{/if}}
      {{#if blogger.cvURI}}
      {{> pill baseurl=blogger.cvURI id='' icon='cv' label='CV'}}
      {{/if}}
    </div>

    <h3 class="subheader">Blog posts</h3>
    {{#if posts}}
    {{#each posts}}
    <article itemscope itemtype="http://schema.org/BlogPosting">
      <h4 itemprop="headline"><a href="{{link}}">{{title}}</a></h4>
      <p class="article-date" itemprop="datePublished">{{formatDateLong datePublished}}</p>
      {{#if imageURI}}
      <div class="featured-image">
        <a href="{{link}}">
          <img itemprop="image" src="{{imageURI}}" alt="Featured Image"/>
        </a>
      </div>
      {{/if}}
      <p class="article-body" itemprop="articleBody">{{{truncate description 400}}} <a class="read-more" itemprop="url" href="{{link}}">Read more &#8594;</a></p>
      {{#unless @last}}<hr/>{{/unless}}
    </article>
    {{/each}}
    {{else}}
    <p>Blog posts will appear here on the next sync if there are any to view.</p>
    {{/if}}

    <div class="nav-pages clearfix">
      {{#if hasLess}}
      <a id="newer" class="page-btn" href="?page={{add pageNumber -1}}">
        <svg viewbox="0 0 37.62 67.32">
          <use xlink:href="{{svg 'left-arrow'}}"></use>
        </svg>
        <p>Newer</p>
      </a>
      {{/if}}
      {{#if hasMore}}
      <a id="older" class="page-btn" href="?page={{add pageNumber 1}}">
        <p>Older</p>
        <svg viewbox="0 0 37.62 67.32">
          <use xlink:href="{{svg 'right-arrow'}}"></use>
        </svg>
      </a>
      {{/if}}
    </div>
  </div>
</div>
