{{#if websiteURI}}
<a class="site-link" href="{{websiteURI}}" itemprop="url">{{urlFormat websiteURI}}</a>
{{else}}
<a class="site-link" href="{{blogURI}}" itemprop="url">{{urlFormat blogURI}}</a>
{{/if}}
